.my-class-popup {
    border: 5px solid white;
    border-radius: 40px;  
  }
  
.my-class-title {
color: #333; 
}

button.my-class-btn-confirm {  
border-radius: 20px!important;
padding: 15px 10px;
font-size: 15px;
width: 200px;
background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%)!important;  
}

button.my-class-btn-cancel {  
    border-radius: 20px!important;
    padding: 15px 10px;
    font-size: 15px;
    width: 200px;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%)!important;  
    }

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 10px 10px;
  border-radius: 8px; 
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}